* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  font-family: "Segoe UI", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  padding: 40px;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  color: white;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
}

.auth-container h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input {
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  outline: none;
}

button {
  padding: 12px;
  background: #667eea;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: #5a67d8;
}

.switch-link {
  margin-top: 20px;
  font-size: 14px;
}

.switch-link a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}

.error-container {
  display: none;
  background-color: rgba(255, 0, 0, 0.774);
  color: rgba(255, 255, 255, 0.79);
  padding: 10px 20px;
  border-radius: 15px;
  position: absolute;
  top: 50px;
  right: 50%;
  transform: translate(50%, 0px);
  box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.315);
}
